<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book APP</title>
    <link type="text/css" rel="stylesheet" href="./styles/styles.css" />
</head>
<body>
   <h1>Welcome to Best Books</h1> 

   <section class="collectionHeader">
       <h5>Your Collection: <%= count %> books.</h5>       
   </section>
   <a class="homeSearchLink" href="/searches/new"><button class="homeSearchButton">Search For Books</button></a>
   
   <%- include('./partials/bookdisplay') %>

</body>
</html>